<%- include('../partials/header') %>

    <%- include('../partials/nav', { categories: core.categories }) %>
        <style>
            .content p img {
                width: 300px;
                border-radius: 10px;
            }
        </style>
        <div class="ui grid stackable container">
            <div class="row" id="page-header">
                <div class="ui basic segment">
                    <h1 class="ui huge header">
                        <div class="content"><%- post.metadata.title %></div>
                        <div class="sub header">
                            <a class="ui red tag label"><%- post.metadata.category %></a>
                    
                        </div>
                    </h1>
                </div>
            </div>
            <div class="row" id="article">
                <div class="eleven wide column content">
                    <h2 class="ui large header">
                        <div class="content"><%- post.metadata.description %></div>
                        <div class="sub header">
                            <%- post.metadata.date %> by <a href="#root"><%- post.metadata.author %></a>
                        </div>
                    </h2>
                    <div class="ui hidden divider "></div>
                    <%-post.content %>
                </div>
                <div class="four wide right floated column">
                    <div class="ui secondary segment">
                        <%- include('../partials/about') %>

                    </div>

                    <h4 class="ui header">Archives</h4>
                    <div class="ui list">
                        <%- include('../partials/links', { links: core.links }) %>

                    </div>
                    
      
                </div>
            </div>
        </div>
        <footer class="ui secondary segment">
            <div class="ui center aligned container">
                <p>
                    Blog template built for Semantic-UI by
                    <a href="https://semantic-ui-forest.com">@Semantic-UI-Forest</a>.
                </p>
                <a href="#root">Back to top</a>
            </div>


            <%- include('../partials/footer') %>