<%- include('../partials/header') %>
<%- include('../partials/nav', { categories: core.categories }) %>
    <div class="ui container">
      <div class="ui padded grid">
        <div class="thirteen wide column">
          <div class="ui grid">
            <% posts.forEach(post=> { %>
      
              <div class="three column row">
                <div class="column">
                  <h1 class="ui header">
                    <%= post.metadata.title %>
                  </h1>
                  <a class="ui small basic button" href="/<%= post.metadata.link %>">View details &raquo;</a>
                </div>
              </div>
              <% }) %>
          </div>

          <div class="ui hidden divider"></div>
          <div class="ui divider"></div>
          <footer>&copy; 2017 Company, Inc.</footer>
        </div>
        <div class="three wide column">
          <div class="ui vertical menu">
            
            <% dates.forEach(date => { %>
              <a class="item" href="/<% date.metadata.link %>"><%= date.text %></a>
          <% }); %>
          </div>
        </div>
      </div>
    </div>


  <%- include('../partials/footer') %>