<%- include('partials/header') %>
  <%- include('partials/nav', { categories: core.categories }) %>
    <div class="ui container">
      <div class="ui padded grid">
        <div class="thirteen wide column">
          <div class="ui message">
            <h1 class="ui huge header">Hello, world!</h1>
            <p class="lead">
              Hey there, I'm Leon, a web developer and technologist. Welcome to my corner of the internet where
              I'll be sharing my tech journey with you all.
              From diving into the world of robotics to tinkering with hacking techniques,
              and from exploring different programming languages to mastering the intricacies of DevOps,
              I'll cover it all here on my blog. So buckle up and join me as I navigate through the exciting landscape
              of technology!
        
            </p>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui grid">
            <% posts.forEach(post=> { %>

              <div class="three column row">
                <div class="column">
                  <h1 class="ui header">
                    <%= post.metadata.title %>
                  </h1>
                  <a class="ui small basic button" href="<%= post.metadata.link %>">View details &raquo;</a>
                </div>
              </div>
              <% }) %>
          </div>

          <div class="ui hidden divider"></div>
          <div class="ui divider"></div>
          <footer>&copy; Leon .</footer>
        </div>
        <div class="three wide column">
          <div class="ui vertical menu">

            <% dates.forEach(date=> { %>
              <a class="item" href="/<%= date.metadata.link %>">
                <%= date.text %>
              </a>
              <% }); %>
          </div>
        </div>
      </div>
    </div>


    <%- include('partials/footer') %>